[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=BUG,FIXME,HACK,SMELL,TBD,TODO,XXX


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
